
h1 {
  text-align: center;
  font-size: 50px;
}

h1, h2 {
  font-family: 'Didact Gothic', sans-serif;
}

a {
  font-family: 'Cabin Sketch', cursive;
  font-size: 28px;
}

p {
  font-family: font-family: 'Fredoka One', cursive;
  font-size: 25px;
  font-weight: bold;
}

figure {
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
}

img {
  border: 1px solid #323232;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

figcaption {
  padding: 5px;
}

ol {
    background: #778899;
    padding: 40px;
    font-size: 20px;
    opacity: 20%
}

ol li {
    background: #ADD8E6;
    padding: 5px;
    margin-left: 35px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contactform {
    border-radius: 10px;
    background-color: #E0FFFF
    padding: 25px;
}

.Main_pics {
  width: 1000px;
  margin-left: 100px;
}

.topnav {
    text-align: center;
}

.topnav a{
  font-family:'Fredoka One', cursive;
  font-size: 27px;
  font-weight: bold;
}

#my-container {
    position: absolute;
    background-image: url("Images/cubes.jpg");
    background-repeat: repeat;
    opacity : 0.8;
    width: 100%;
    height: 100%;
}

#firstparagraph {
  text-align: center;
}
